.header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  color: #e9e7e7;
}

.header-box {
  display: flex;
}

.header-title {
  color: var(--main-title-color);
}

.header-navigation {
  display: flex;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav-item:not(:last-child) {
  margin-right: 40px;
}

.site-nav-item {
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
  letter-spacing: 0.03em;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo-tittle {
  color: #000000;
}

.site-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--second-title-color);

  padding-top: 32px;
  padding-bottom: 32px;
  display: block;

  position: relative;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.site-nav-link.current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: -1px;
  opacity: 1;
  background-color: var(--accent-color);
  border-radius: 5px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  color: var(--accent-color);
  opacity: 1;
}

.auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-nav-item {
  padding: 32px 0;
  &:not(:first-child) {
    margin-left: 50px;
  }
}

.auth-nav-icon {
  margin-right: 10px;
  fill: currentColor;
}

.auth-nav-link {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--main-text-color);
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

/*------------- Portfolio ---------------*/

.header-border {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  color: #e9e7e7;
}
