:root {
  --main-background-color: #2f303a;
  --main-title-color: #ffffff;
  --second-title-color: #212121;
  --main-text-color: #757575;
  --accent-color: #2196f3;
  --main-section-color: #f5f4fa;
  --main-border-color: #eeeeee;
}
